@charset "UTF-8";

/*  Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Container Pai */
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    border: 3px solid darkcyan;
    background-color: rgb(236, 250, 250);
    border-radius: 10px;
    height: 100%;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.field {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 5px;
}

.submit {
    align-items: center;
}

.field #submit{
    width: 45px;
    border-radius: 2px;
    border: 1px solid;
    height: 22px;
}


#email, #senha{
    height: 27px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    outline: 0;
}


.check {
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.check input[type="checkbox"]{
    border: none;
}





